body{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.text{
    height: 140px;
    text-align: center;
    padding-top: 50px;
}
.input{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px ;
}

.buttons{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}
.btn,.btn3, .btn2, .btn4 , .btn5, .btn6{
    width: 25px;
  height: 15px;
  border: 10px solid blue;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
  margin-left: 10px;
}
