.btn{
    width: 25px;
  height: 15px;
  border: 10px solid blue;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}
.btn2{
    width: 25px;
  height: 15px;
  border: 10px solid blue;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}
.btn3{
    width: 25px;
  height: 15px;
  border: 10px solid blue;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
}