/*Обнуление*/
/* line 2, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 4, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  :focus, :active {
    outline: none;
  }
  /* line 5, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  a:focus, a:active {
    outline: none;
  }
  /* line 6, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  nav, footer, header, aside {
    display: block;
  }
  /* line 7, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  /* line 8, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  input, button, textarea {
    font-family: inherit;
  }
  /* line 9, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  input::-ms-clear {
    display: none;
  }
  /* line 10, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  button {
    cursor: pointer;
  }
  /* line 11, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  /* line 12, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  a, a:visited {
    text-decoration: none;
  }
  /* line 13, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  a:hover {
    text-decoration: none;
  }
  /* line 14, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  ul li {
    list-style: none;
  }
  /* line 15, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  img {
    vertical-align: top;
  }
  /* line 16, ../../prod/all_css/hellosass/hellosass/#source/scss/nullstyle.scss */
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
  }

  body.on{
    background: radial-gradient(#555,#111);
  }


.hulb{
  position: relative;
  width: 80px;
  height: 80px;
  background: #444;
  border-radius: 50%;
  z-index: 2;
}
body.on .hulb{
  background: #fff;
  box-shadow: 0 0 50px #fff,
  0 0 100px #fff,
  0 0 150px #fff,
  0 0 200px #fff,
  0 0 250px #fff,
  0 0 300px #fff,
  0 0 350px #fff,
}

.hulb::before {
content: '';
position: absolute;
left:22.5px;
top: -50px;
width: 35px;
height: 80px;
background: #444;
border-top: 30px solid #000;
border-radius: 10px;
}
body.on .hulb::before{
  background: #fff;
}

body.on .hulb::after{
  content: '';
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  filter: blur(40px);
}

.hulb span:nth-child(1)
{
  position: absolute;
  top:-16px;
  left:-4px;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  transform: rotate(341deg);
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 0 10px #444;
}
body.on .hulb span:nth-child(1){
  box-shadow: 20px 20px 0 10px #fff;
}

.hulb span:nth-child(2)
{
  position: absolute;
  top:-16px;
  right:-4px;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  transform: rotate(17deg);
  border-bottom-left-radius: 40px;
  box-shadow: -20px 20px 0 10px #444;
}
body.on .hulb span:nth-child(2)
{
  box-shadow: -20px 20px 0 10px #fff;
}
.wire{
  position: absolute;
  left: calc(50% - 2px);
  bottom:50%;
  width: 4px;
  height: 60vh;
  background: #000;
  z-index: 1;

}

.switch{
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  background: linear-gradient(#eee,#ccc,#eee);
  border: 3px solid 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.switch .btn{
  position: relative;
  width: 25px;
  height: 40px;
  background: linear-gradient(#777,#fff,#777);
  border-radius: 6px;
  border: 2px solid #000;
  cursor: pointer;
}


.switch .btn::before{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 85%;
  background: linear-gradient(#fff,#fff);
  border-radius: 4px;
}

.on .switch .btn::before{
  top: 15%;
}
#audio{
  display: none;
}


/*
@media (max-width: 1200px){
    .cont, .head {
        max-width:970px;
    }
}
    
@media (max-width:992px) {
    .cont, .head{
        max-width: 750px;
    }
}

@media ( max-width:767px) {
    .cont, .head{
        max-width: 500px;
    }
}
@media (max-width:376px){
    .cont, .head{
        max-width: none;
    }
}