*{
    margin: 0;
    padding: 0;
}


.header{
    background-color: #007765;
    position: fixed;
    width: 100%;
    max-width: 1219px
}

.header::after{
    content: "";
    display: table;
    clear: both;
}

.logo{
    float:left;
    text-decoration: none;
    padding: 20px;
}

nav{
    float:right;
    padding-right: 20px;
}

nav,ul{
    list-style: none;
    text-decoration: none;
}

nav,li{
    display: inline-block;
    text-decoration: none;
}

li{
    padding: 20px;
    padding-right: 20px;
}

a{
    text-decoration: none;
    color:#fff;
    font-size: 24px;
    border-right: 1px oldlace;
}

.PiedPiperCoin{
    margin: 0 auto;
    background-image: url('img/image.png');
    color: white;
    font-size: 72px;
    text-align: center;
    height: 400px;
}
.piedText{
    padding-top: 10rem;
    padding-bottom: 5rem;
    text-align: center;
    padding-right: 10rem;
    padding-left: 10rem;
}

h1{
    text-align: center;
    font-style: 64px;
    color: #007765;
}

.theProblem{
    margin: 0 auto;
    background-color: #eee;
    font-family: Roboto;
    font-size: 32px;
    padding: 10px;
    padding-bottom: 6rem;
    padding-left: 40px;
    padding-right: 40px;
}

.were{
    background-image: url('img/image\ \(1\).png');
    margin: 0 auto;
    color: white;
    font-size: 48px;
    text-align: center;
}

.wereText{
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    padding-right: 5rem;
    padding-left: 5rem;
}

.PiedPiperCoim{
    margin: 0 auto;
    background-color: #fff;
    font-family: Roboto;
    font-size: 32px;
    padding: 10px;
    padding-bottom: 6rem;
    padding-left: 40px;
    padding-right: 40px;
}

.team{
    background-color: #eee;
    padding-top: 10px;
    max-width: 1219px;
    padding-left: 255px;
    padding-right: 255px;
}
.flexteam{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    margin: 15px;
   /* display: inline-block;*/
}
}
.cardimg{
  /*   max-width: 405px;
   display: inline-block;
    margin-right: 100px;*/
    text-align: center;
  flex-basis: 33%;
  padding: 24px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
footer{
    max-width: 1219px;
    margin: 0 auto;
}
.foot{
    margin: 0 auto;
    text-align: center;
    font-family: Roboto;
    color: #fff;
    font-size: 20px;
    padding:55px;
    background-color: #333;
}

.cont{
    max-width: 1219px;
    margin: 0 auto;;
}

